# ---------------- Git Ignore ---------------- >

*

!.gitignore

!README.md

!packages.txt
!user-dirs.dirs

!btop/
!fastfetch/
!hypr/
!hyprpaper/
!kitty/
!nwg-look/
!rofi/
!snappy-switcher/
!waybar/
!xsettingsd/

