/* ---------------- Waybar Style ---------------- > */

* {

    font-family : JetBrainsMono Nerd Font; /* Your font */
    font-size   : 14px;

}

window#waybar {

    background    : rgba(30, 30, 46, 0.8); /* Background color */
    color         : #ffffff;               /* Text color */

    border        : none; /* Border */
    border-radius : 0;    /* Border corners */

}

#custom-arch {

    font-family  : "Symbols Nerd Font", "Symbols Nerd Font Mono"; /* Logo font */
    font-size    : 16px; /* Logo size */

    /* Logo margins */

    margin-left  : 12px;
    margin-right : 24px;

}

#workspaces { margin-right : 16px; }

#workspaces button {

    background : transparent;
    color      : rgba(255, 255, 255, 0.55); /* Inactive workspaces color */

    border     : none; /* workspaces borders */
    box-shadow : none;

    padding   : 0 6px; /* Gaps between workspaces */
    min-width : 16px;
    margin    : 0px 0 0 0;

}

#workspaces button.active { color : #ffffff; } /* Active workspace color */

#workspaces button:hover {

    background : transparent;
    box-shadow : none;
    color      : #ffffff;

}

#clock { padding : 0 16px; } /* Gaps between clock and date */

#network,
#bluetooth,
#pulseaudio,
#backlight,
#power-profiles-daemon,

#battery {

    padding : 0 10px;
    color   : rgba(255, 255, 255, 1); /* Default battery color */

}

#network.disconnected { color : rgba(255, 255, 255, 0.5); } /* Disconnected network color */

#battery.critical { color : rgba(255, 255, 255, 0.5); } /* Critical battery color */

#battery.warning { color : rgba(255, 255, 255, 0.75); } /* Warning battery color */

#battery.charging { color : rgba(255, 255, 255, 1); } /* Charging battery color */